.login {
  background: image-url('swearbox_black.jpg')no-repeat center center fixed;
  background-color: black;
  background-size: 75% 75%;
  opacity: 5.0
}

.waiting-room {
  background-color: black;
  background-size: 75% 75%;
  opacity: 5.0
}

#waiting-room {
	margin-top: 50px;
  color: #949494;
}

.title-small-margin {
	margin: 10px 0;
}

.large-top-margin {
  margin-top: 70px;
}

#please-enter {
  margin-top: 50px;
  display: none;
}

.bw-btn {
  border: white 3px solid;
  background-color: black;
  color: white;
  font-size: 20px;
}

.wb-btn {
 border: black 3px solid;
 background-color: white;
 color: black;
 font-size: 20px; 
}

.bw-btn:focus {
  outline: none;
  border: white 2px solid;
  color: white;
}

.sign-in-button {
  position: absolute;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  bottom:0px;
}

.sign-out-button {
  position: absolute;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  bottom:0px;
}

// .stripe-button-el {
//   border: black 3px solid !important;
//   background-color: white !important;
//   color: black !important;
//   font-size: 20px !important;
//   border-radius: 0 !important;
// }

// .stripe-button-el span {
//   background-color: white !important;
//   color: black !important;
//   font-size: 20px !important;
// }