// Place all the styles related to the sins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sins-table {
	margin-bottom: 50px;
}

.table-item {
	font-size: 20px;
	margin-bottom: 5px;
	border-bottom: solid grey 1px;
}

