<!DOCTYPE html>
<html>
  <head>
    <title>Swearbox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://blackrockdigital.github.io/startbootstrap-grayscale/css/grayscale.min.css" rel="stylesheet">
  </head>

  <body>

    <%= yield %>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; Swearbox 2016</p>
      </div>

    </footer>
  </body>
</html>
